[*.cs]
# Mantiene el corchete en la misma línea para métodos
csharp_new_line_before_open_brace = none
# Mantiene el corchete en la misma línea para tipos (clases)
csharp_new_line_before_open_brace = none
# Controla bloques de control (if, for, etc)
csharp_new_line_before_open_brace = none

[*]
indent_style = space
indent_size = 2
tab_width = 2
